#on {
    background-color: green;
    color: white;
    width: 60px;
    height: 60px;
}

#off {
    background-color: red;
    color: white;
    width: 60px;
    height: 60px;
}

#light {
    background-color: gray;
    color: white;
    width: 60px;
    height: 60px;
}

#dark {
    background-color: gray;
    color: white;
    width: 60px;
    height: 60px;
}

#bulb {
    height: 300px;
    margin-top: 10px;
}

.light {
    background-color: yellow;
}

.dark {
    background-color: purple;
}

.todii {
    background-color: turquoise;
    color: darkgoldenrod;
    width: auto;
    height: 60px;
}


